<%- layout('layout/Boilerplate.ejs') %>
<body>

       
    <div class="showcontainer">
        <h4><b><%= list.title %></b></h4>
        <img src="<%= list.image %>" alt="image">
        <div class="showtext">
            <h3>Owned by : <b><%= list.owner.username%></b></h3>
            <h3>Description :<%= list.description %></h3>
            <h3>price :<%= list.price.toLocaleString('en-IN') %></h3>
            <h3>location :<%= list.location %></h3>
            <h3>country :<%= list.country %></h3> 
        </div>
    </div>

    <% if( curruser && curruser._id.equals(list.owner._id)) { %>

    <div id="show" class="d-flex justify-content-start butons mt-3">
        <form action="/list/<%= list._id %>/edit" method="get">
           <button type="submit" class=" btn btn-danger signupbtn">Edit</button>
       </form>
    
       <form action="/list/<%= list._id %>?_method=DELETE %>" method="post">
           <button type="submit" class="btn btn-primary signupbtn">Delete list</button>
       </form>
    </div>
    <% } %>

    <% if(curruser) { %>
    <div class="reviews">
        <h1>Write a Review</h1>
      <form action="/list/<%= list._id %>/review" method="post" novalidate class="needs-validation">
        <label for="star" class="rating">Rating</label>
        <select name="review[star]" id="star" type="number">
            <option value="1" type="number">1</option>
            <option value="2" type="number">2</option>
            <option value="3" type="number">3</option>
            <option value="4" type="number">4</option>
            <option value="5" type="number">5</option>
          </select>

          <div>
            <label for="ftextarea" class="form-label rating">Comment</label>
            <textarea name="review[comment]" id="ftextarea" cols="30" rows="5" class="form-control" required></textarea >
                <div class="invalid-feedback">
                    Please write about place.
                  </div>
          </div>

          <button class="btn btn-outline-primary signupbtn">Submit</button>
           
      </form>
    </div>
    <% } %>

    <h1 class="reviewheading">All Reviews</h1>
    <hr>
    <div class="row row-cols-2 row-cols-lg-3">
        <% for (let value of list.review) {%>          
                    <div class="col-sm-6">
                      <div class="card text-bg-secondary mb-3 ">
                        <div class="card-body">
                          <h5 class="card-title"><%= value.author.username %></h5>
                          <h5 class="card-title"><b><%= value.star %></b></h5>
                          <p class="card-text">Comment : <%= value.comment %></p>
                          <% if(curruser && curruser._id.equals(value.author._id)) {%>
                          <form action="/list/<%= list._id %>/review/<%= value._id %>?_method=DELETE" method="post">
                            <button class="btn btn-success">Delete</button>
                        </form>
                        <% } %>
                        </div>
                      </div>
                    </div>          
        <% } %>
    </div>


</body>
<script src="/script/validation.js"></script>